.vscode/
__pycache__/
.ruff_cache/
.DS_Store/
.DS_Store
.venv/
local_data/
.devcontainer/
.env
venv
.devcontainer/
first_question_article.xlsx
.deepteam/
.deepeval_telemetry.txt
deepteam_results/
frog_boiling_sessions.xlsx
~$frog_boiling_sessions.xlsx
~$first_question_article.xlsx
